<md-card class="input-container">
    <md-card-header>
        <div class="title-container">
            <label>Información del paciente</label>
        </div>
        <div class="edit-icon-container" mdTooltip="Borrar" (click)="onDelete()">
            <i class="fa fa-trash-o edit-icon"></i>
        </div>
        <div class="edit-icon-container" mdTooltip="Editar" (click)="onEdition = !onEdition">
            <i class="fa fa-pencil-square-o edit-icon"></i>
        </div>
    </md-card-header>

    <md-card-content>
        <form #patientForm="ngForm" class="body">
            <div class="flex-container">
                <div>
                <md-input-container>
                        <input md-input placeholder="Documento" type="number" [(ngModel)]="patient.document" [disabled]="!isOnEdition()" name="document" #document="ngModel" required>
                    </md-input-container>
                </div>
                <div></div>
            </div>
            <div class="flex-container">
                <div>
                <md-input-container>
                        <input md-input placeholder="Nombre" type="text" [(ngModel)]="patient.name" [disabled]="!isOnEdition()" name="pname" #pname="ngModel" required>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <input md-input placeholder="Apellido" type="text" [(ngModel)]="patient.lastname" [disabled]="!isOnEdition()" name="lastname" #lastname="ngModel" required>
                    </md-input-container>
                </div>
            </div>
            <div class="flex-container">
                <div>
                    <md-input-container>
                        <input md-input placeholder="Telefono" name="phone" type="number" [(ngModel)]="patient.phone" [disabled]="!isOnEdition()">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container >
                        <input md-input placeholder="Mail" name="mail" type="email" [(ngModel)]="patient.mail" [disabled]="!isOnEdition()">
                    </md-input-container>
                </div>
            </div>
            <div class="flex-container">
                <div>
                    <md-spinner class="spinner" *ngIf="isLoading"></md-spinner>
                </div>
                <div>
                    <button class="save-button" md-raised-button (click)="save()" *ngIf="onEdition" [disabled]="isLoading || !isFormValid()">Guardar</button>
                </div>
            </div>
        </form>
    </md-card-content>
</md-card>