@import '../../styles';

.input-container {
    padding: 0px !important;
    width: 35%;
    min-width: 470px;

    @media(max-width: 470px){
        min-width: 100px;
        width: 95%;
    }
    
    label {
        font-family: sans-serif;
        font-size: 0.8em;

        &:nth-child(odd) {
            font-weight: bold;
        }
    }

    .title-container {
        padding: 8px 7px;
        color: white;
        font-size: 1.2em;
        width: 100%;
    }
    .body {
        padding: 10px;
    }
}

input {
    display: block;
    margin: 5px 0;
}

md-card-header {
    background-color: #2f9ad8;
    margin-bottom: 0;
}

.edit-icon {
    padding: 12px;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: rgba(0,0,0,0.25);
        border-radius: 20px;
    }
} 

.spinner {
    width: 30px;
    height: 30px;
}

.save-button {
    float: right;
}