
.header {
    height: 40px;
    width: 100%;
    background-color: black;
}

.body {
    height: 100%;
    width: 100%;
    background-color: #e9eeef;
}

.search-component {
    position: relative;
    top: 10px;
    left: 10px;
}

.patient-info {
    position: relative;
    top: 40px;
    left: 10px;
}