<div class="header">

</div>

<div class="body">
    <patient-search class="search-component" (patientSelected)="onPatientSelected($event)"></patient-search>
    <patient-info class="patient-info" [patient]="actualPatient" *ngIf="actualPatient"></patient-info>
</div>