// Theme de colores para angular material
@import '../../node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber.scss';

// Habilita un flex basico
.flex-container {
    display: flex;

    div {
        flex: 1;
    }
}