<md-card class="input-container flex-container">
    <i class="fa fa-search search-icon"></i>
    <input type="text" placeholder="Busqueda de paciente..." [(ngModel)]="query" (ngModelChange)="onQueryChanged($event)">
    <i class="fa fa-circle-o-notch fa-spin" *ngIf="isLoading"></i>
</md-card>

<!-- Autocomplete info -->
<md-card class="autocomplete-container" *ngIf="query.length > 1">
    <div class="item" *ngFor="let result of results" (clickOutside)="closeAutocomplete()" 
        (click)="onItemSelected(result)">
        {{result.lastname}}, {{result.name}} - <span class="document">{{result.document}}</span>
    </div>
    <div class="item new-patient" (click)="onNewPatientSelected()"><i class="fa fa-plus"></i> Nuevo paciente...</div>
</md-card>