@import '../../styles';

.input-container {
    padding: 10px !important;
    width: 250px;

    input {
        box-sizing: border-box;
        width: 100%;
        border: 0;
        outline: none;
    }

    .search-icon {
        margin: 0 10px 2px 3px;
    }
}

.flex-container {
    display: flex;
}

.autocomplete-container {
    padding: 0;
    max-height: 200px;
    width: 270px;
    overflow: auto;
    margin-top: 2px;
    position: absolute;
    z-index: 5;

    .item {
        padding: 8px 10px;
        cursor: pointer;
        font-size: 14px;
        
        &:hover {
            background-color: whitesmoke;
        }
        &:not(:last-child) {
            border-bottom: 1px solid rgba(0,0,0,0.3);
        }

        &.new-patient {
            color: rgba(0,0,0,0.4);
        }
        
        .document {
            color: rgba(0,0,0,0.4);
        }
    }
}